<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library App</title>
  </head>
  <body>
    <%- include("header.ejs") %>
    <main>
      <section id="hero">
        <h1>404 Error (Page Not Found)</h1>
        <p>Check your url/link since the resource does not exists</p>
      </section>
    </main>
    <footer>
      <p>
        LibApp &copy; <%= new Date().getFullYear() %> . All rights Reserved.
      </p>
    </footer>
  </body>
</html>
