<header>
    <a href="/" id="logo"> LibApp </a>
    <nav>
        <a href="/authors">Authors</a>
        <a href="/books">Books</a>
        <a href="/profile">My Profile</a>
        <a href="/signin">Sign In</a>
    </nav>
</header>