<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="">
        <input type="password" name="password" id="password">
        <p id="password-error"></p>
    </form>

    <script>
        const passwordInput = document.getElementById("password")
        const passwordError = document.getElementById("password-error")

        password.addEventListener("input", function(){
            if(password.value.length < 8){
                passwordError.textContent = "Password must be at least 8 characters"
            }else{
                passwordError.textContent = ""
            }
        })  
    </script>    
    
</body>
</html>